.filter {
    display: flex;
    justify-content: center;
    padding: 0 1rem;
}

.filter-control {
    margin: 0 1rem;
}

.filter select {
    margin: .3rem;
    padding: .3rem;
    border-radius: 6px;
}