.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.content div {
    margin: 1rem;
}

.icon {
    display: block;
    margin: .5rem;
}



@media(max-width: 720px) {
    .icon {
        width: 500px;
    }
}

@media(max-width: 500px) {
    .icon {
        width: 300px;
    }
}